@font-face {
  font-family: raleway;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/releway-800.woff2") format("woff2");
}

@font-face {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: rubik;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: rubik;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

  /* header */

.page-header {
  background-color: #FFE17F;
}

.navigation {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.navigation-container-first {
  width: 1075px;
}

.navigation-container-second {
  width: 1041px;
  margin: 0 auto;
}

.search-input {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
}

.navigation-list {
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

.navigation-site {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: inherit;
}

    /* main */

.main-index {
  flex-grow: 1;
}

.gallery-slider {
  width: 1160px;
  margin: 0 auto;
  counter-reset: section;
}

.galery-slider-box {
  display: flex;
  justify-content: space-between;
}

.galery-slider-box::before {
  counter-increment: section;
  content: "0" counter(section);
  font-weight: 800;
  font-size: 180px;
  color: #FFE17F;
}

.gallery-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.gallery-description {
  color: #444444;
}

.product-details {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.product-specs-key {
  font-size: 36px;
  line-height: 30px;
}

.product-specs-value {
  font-size: 16px;
  color: #444444;
}

.product-categories-item {
  width: 160px;
  height: 253px;
}

.product-categories-wrap {
  width: 160px;
  height: 160px;
  text-align: center;
  background-color: #FFE17F;
}

.product-categories-link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.galery-slider-points {
  margin: 0;
  padding: 0;
}

.products {
  width: 1160px;
  margin: 0 auto;
}


/* services */

.services {
  background-color: #F0F0F0;
}

.container-services {
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.services-item-active .services-button{
  color: #FFE17F;
}

.services-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-description {
  color: #444444;
}

/* delivery */

.delivery {
  width: 1160px;
  margin: 0 auto;
}

.delivery-title-button {
  width: 1160px;
  height: 100px;
  padding: 0;
  border: none;
}

.delivery-button-block-icon {
  display: block;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.delivery-button-text {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  display: inline;
}

.container-delivery {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 560px;
}

.contacts-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us-description {
  color: #444444;
}

.company-item {
  font-weight: 700;
  line-height: 20px;
}

.delivery-button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  width: 260px;
  height: 20px;
}

.contacts {
  width: 560px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

.contacts-address {
  font-style: inherit;
  color: #444444;
}

.contacts-phone-contacts {
  color: #444444;
}

.contacts-schedule-item {
  color: #444444;
}

/* subscription  */

.subscription {
  background-color: #F0F0F0;
}

.container-subscription {
  width: 1160px;
  margin: 0 auto;
}

.subscription-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscription-description {
  color: #444444;
}

.subscription-field {
  color: #444444;
  opacity: 0.5;
}

.subscription-button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  width: 260px;
  height: 55px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.subscription-item {
  color: #444444;
}

    /* Footer */

.page-footer {
  height: 321px;
  background-color: #444444;
}

.container-footer {
  width: 1160px;
  margin: 0 auto;
}

.footer-address {
  font-size: 16px;
  font-style: inherit;
}

.navigation-item {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-phone-footer {
  color: #F0F0F0;
  font-size: 16px;
}


    /* catalog */

.main-inner {
  background-color: #ffffff;
}

.inner-header-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
}

.product-categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-products-title {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
 text-transform: uppercase;

}

.catalog-products-block {
  background-color: #E5E5E5;
  width: 468px;
  height: 1404px;
}

.catalog-products-title-header {
  height: 70px;
  text-align: center;
  background-color: #DCDCDC;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.range-numeral {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-type {
  background-color: #EBEBEB;
}

.select-control {
  line-height: 19px;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
}

.product-card-price {
  font-weight: inherit;
  line-height: 21px;
  color: #444444;
}

.pagination-show-more-button {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  width: 760px;
  height: 55px;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-block {
  width: 760px;
  height: 70px;
  background-color: #EBEBEB;
}

.pagination-link {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link-number {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  opacity: 0.3;
}
